src/Bin/XPatchLib.Json.dll
src/XPatchLib.Json/bin/Debug/XPatchLib.Json.dll
src/XPatchLib.Json/bin/Debug/XPatchLib.Json.XML
*.pdb
src/XPatchLib.Json/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/XPatchLib.Json/obj/Debug
/XPatchLib.Json.Output/Debug
/src/XPatchLib.Json/bin/Debug
/src/XPatchLib.Json.UnitTest/bin/Debug
/src/XPatchLib.Json.UnitTest/obj/Debug
/src/XPatchLib.Json/bin/Release
/src/XPatchLib.Json/obj/Release
/src/XPatchLib.Json.UnitTest/obj/Release
/.vs/XPatchLib.Net/v15
/src/XPatchLib.Json.UntiTest/bin
/src/XPatchLib.Json.UntiTest/obj
/src/XPatchLib.Json.UnitTest/bin/Release
/src/XPatchLib.Json.UnitTest/obj
/src/XPatchLib.Json/obj/XPatchLib.Json.0.0.0.17.nuspec
/src/XPatchLib.Json/obj/XPatchLib.Json.0.0.0.16.nuspec
/src/.vs/XPatchLib.Json/v15/Server/sqlite3
/src/XPatchLib.Json/obj
src/.vs/XPatchLib.Json/v15/.suo
src/.vs/XPatchLib.Json/v15/.suo
src/XPatchLib.Json.sln.DotSettings.user
src/XPatchLib.Json/obj/XPatchLib.Json.csproj.nuget.g.props
src/XPatchLib.Json/obj/project.assets.json
src/XPatchLib.Json/obj/XPatchLib.Json.csproj.nuget.g.targets
